<div class = 'nested-fields'>
  <div class = 'field'>
    <%= f.label :price %>
    <%= f.text_field :price %>
    <%= f.label :price_url %>
    <%= f.text_field :price_was %>
  <%= link_to_remove_association "remove task", f %>
  </div>
</div>