<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <% @blog.products.each do |product| %>
    <%= product.price %> 
  <% end %>
</p>

<p>
  <% @blog.product_urls.each do |product_url| %>
  <%= product_url.price_was %>
  <% end %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
